@font-face {
	font-family: 'Montserrat-RG';
	src: url('../../public/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-B';
	src: url('../../public/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-I';
	src: url('../../public/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-SB';
	src: url('../../public/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
