@import './reset';
@import './fonts.scss';
@import './variables';

body {
	font-family: var(--font-family);
}

.app {
	// background: var(--bg-color);
	min-height: 100vh;
}

.content-page {
	display: flex;
}

.page-wrapper {
	flex-grow: 1;
	padding: 20px;
}
