:root {
	--font-family: 'Montserrat-RG', sans-serif;
	--bg-color: #212121;

	--main-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
	--field-shadow: -1px 6px 26px -14px rgba(0, 0, 0, 0.25);

	// fonst
	--font-size-m: 16px;
	--font-size-t: 12px;
	--font-size-l: 24px;

	//colors
	--light: #fff;
	--light-green: #77e784;
	--red: rgb(220 34 34);
}
